<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title></title>
<!-- Bootstrap core CSS -->
<link
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" />
<style type="text/css">
body {
	min-height: 2000px;
	padding-top: 70px;
}

.jumbotron {
	font-family: 微软雅黑
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:replace="fragments/header :: header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../index.html">记账平台</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">我要记账<span class="sr-only">(current)</span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/user/">管理员</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<form action="/xiaofei" method="post">
				<div class="form-group">
					<label for="amountInput">消费金额</label>
					<div class="input-group">
						<span class="input-group-addon">￥</span><input type="number"
							name="amount" class="form-control" id="amountInput"
							placeholder="请输入消费金额, 精确到小数点后两位" /><span
							class="input-group-addon">.00</span>
					</div>
				</div>
				<div class="form-group">
					<label for="timeInput">消费时间</label> <input type="datetime-local"
						name="time" th:value="${date}" class="form-control" id="timeInput"
						placeholder="请输入时间" />
				</div>
				<div class="form-group">
					<label for="addrInput">消费地点</label> <input type="text" name="addr"
						class="form-control" id="addrInput" placeholder="请输入地点" />
				</div>
				<div class="form-group">
					<label for="descInput">消费内容</label> <input type="text" name="desc"
						class="form-control" id="descInput" placeholder="请输入消费内容" />
				</div>
				<button type="submit" class="btn btn-default">确定</button>
			</form>
		</div>

	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script
		src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>